			<div class = "data-container-content-inner" style="width: 99%;">	
				<div class="row">
					<div class="col-xs-8 col-sm-6 col-md-6 text-right padding-right-1rem">
						OB (ACV) - Holmes for Business
					</div>
					<div class="col-xs-2 col-sm-3 col-md-3 text-center" >
						<input type="number" placeholder="M$" />
						<span class="indication">Q COMMIT</span>
					</div>
					<div class="col-xs-2 col-sm-3 col-md-3 text-center">
						<input type="number" placeholder="M$" />
						<span class="indication">Q TARGET</span>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-8 col-sm-6 col-md-6 text-right padding-right-1rem">
						Video testimonials
					</div>
					<div class="col-xs-2 col-sm-3 col-md-3 text-center">
						<input type="number" placeholder="M$" />
						<span class="indication">Q TARGET</span>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-8 col-sm-6 col-md-6 text-right padding-right-1rem">
						Number of Consultants
					</div>
					<div class="col-xs-2 col-sm-3 col-md-3 text-center">
						<input type="number" placeholder="M$" />
						<span class="indication">Q TARGET</span>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-8 col-sm-6 col-md-6 text-right padding-right-1rem">
						Number of Pilots / Pocs
					</div>
					<div class="col-xs-2 col-sm-3 col-md-3 text-center">
						<input type="number" placeholder="M$" />
						<span class="indication">Q TARGET</span>
					</div>
				</div>
				<div class="row text-right">
					<div class="saveButton">
						<a href="#/home"><span class="glyphicon glyphicon-floppy-disk"></span></a>
					</div>
				</div>
			</div>